# Local Environment
.idea

# local config
app/etc/local.xml
errors/local.xml

# logs etc
/var/*

# media files
/media/*

# keep some files
!var/.htaccess
!/media/.htaccess
!/media/customer/.htaccess
!/media/downloadable/.htaccess